{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}
{{ 'features-slideshow.css' | asset_url | stylesheet_tag }}

<section class="features-slideshow__container">
<h2 class="h2 features-slideshow__title">{{ section.settings.title }}</h2>
<div class="features-slideshow features-slideshow--desktop features-slideshow--{{ section.id }} page-width page-width--narrow">
    {%- for block in section.blocks -%}
      {%- if block.type == "slide" -%}
      <div>
          <div class="features-slideshow__slide" data-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
              <div class="features-slideshow__image">
                  <video width="240" height="240" autoplay loop muted controls>
                      <source src="{{ block.settings.video }}" type="video/mp4">
                  </video>
              </div>
              <div class="features-slideshow__content">
                  <div class="features-slideshow__slide-title">{{ block.settings.title }}</div>
                  <div class="features-slideshow__slide-text"> {{ block.settings.text }}</div>
              </div>
          </div>
      </div>
      {%- endif -%}
    {%- endfor -%}
</div>
<div class="features-slideshow features-slideshow--mobile page-width page-width--narrow">
    {%- for block in section.blocks -%}
    {%- if block.type == "slide" -%}
    <div>
        <div class="features-slideshow__slide">
            <div class="features-slideshow__image">
                {% if block.settings.image %}
                  {{ block.settings.image | image_url: width: 900 | image_tag: loading: 'lazy' }}
                {% else  %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}
            </div>
            <div class="features-slideshow__content">
                <div class="features-slideshow__slide-title">{{ block.settings.title }}</div>
                <div class="features-slideshow__slide-text"> {{ block.settings.text }}</div>
            </div>
        </div>
    </div>
    {%- endif -%}
    {%- endfor -%}
</div>
</section>

<script>
    $(document).ready(function () {
        $('.features-slideshow--{{ section.id }}').slick({
            slidesToShow: 1,
            arrows: true,
            dots: true
        });
    });
</script>
{% if request.design_mode %}
<script>
    function reloadSlick(e) {
        $(document).ready(function () {
            $('.features-slideshow--{{ section.id }}').slick({
                slidesToShow: 1,
                arrows: true,
                dots: true
            });
        });
    }
    document.addEventListener("shopify:section:load", e => reloadSlick(e));

    document.addEventListener("shopify:block:load", function(e) { 
        console.log(e.target)
    })

    document.addEventListener("shopify:block:select", function(e) { 
        $('.features-slideshow--{{ section.id }}').slick('slickGoTo', $(e.target).data('index'))  
    })
</script>
{% endif %}

{% schema %}
{
"name": "Features slideshow",
"settings": [{
"type": "text",
"label": "Title",
"id": "title"
}],
"blocks": [{
"type": "slide",
"name": "Slide",
"settings": [{
  "type": "image_picker",
  "label": "Image",
  "info": "Image will be use in mobile, instead of video.",
  "id": "image"
},{
"type": "text",
"label": "Video url",
"id": "video"
}, {
"type": "text",
"id": "title",
"label": "Title"
}, {
"type": "textarea",
"id": "text",
"label": "Description"
}]
}],
"presets": [{
"name": "Features slideshow"
}],
"templates": ["product"]
}
{% endschema %}